<header>
    <div class="container_16 clearfix">

        <h1 class="grid_7" id="logo"><a href="#/pages/home"><img src="css/images/logo.png" alt="" width="310" height="62"/></a></h1>

        <nav id="main_nav" class="bitter grid_9">
            <ul>
                <li class="active"><a href="#/pages/home">Home</a></li>
                <li><a href="#/pages/games">Games</a></li>
                <li><a href="#/pages/about">About</a></li>
                <li><a href="#/pages/contact">Contact</a></li>
            </ul>
        </nav>

    </div><!--//container-->
</header>
