<footer class="osans-s">
    <div class="container_16 clearfix">
        <div class="grid_3">
            <a href="#/home" id="logo_small">
                <img src="css/images/logo_footer.png" alt="GameDevs Logo"/>
            </a>
        </div>

        <div class="grid_5">
            <ul id="menu_bottom">
                <li><a href="#/pages/home">Home</a></li>
                <li><a href="#/pages/games">Games</a></li>
                <!--<li><a href="#">Blog</a></li>-->
                <li><a href="#/pages/about">About</a></li>
                <li><a href="#/pages/contact">Contact</a></li>
            </ul>
        </div>

        <div class="grid_4" id="social">
            <ul>
                <li><a class="tw" href="https://twitter.com/OfirNadav">Twitter</a></li>
                <li><a class="fb" href="https://www.facebook.com/ofir.nadav">Facebook</a></li>
                <li><a class="gp" href="https://plus.google.com/+OfirNadav">Google Plus</a></li>
            </ul>
        </div>

        <div class="grid_4 copy">
            <p>Copyright GameDevs <span class="date"></span>. All Rights Reserved.</p>
        </div>
        <div class="grid_4 copyright">
        </div>
    </div>
</footer>