<div class="slider">
    <div class="slide slide-1">
        <img src="../app/css/images/placeholders/slider_1.jpg" alt=""/>
        <div class="cta_text bitter">
            <p>
                <span>Free Online Games & Adventure</span>
            </p>
            <p>
                <span>Play our fun & popular games!</span><br/><span>Play for free and completely without ads!</span>
            </p>
            <!--<a href="#" class="cta_btn luck">Try the Demo! <br/>-->
            <!--<span class="osans">for Windows &amp; MacOS</span></a>-->
        </div>
    </div>
    <div class="slide slide-2">
        <img src="../app/css/images/placeholders/slider_2.jpg" alt=""/>
        <div class="cta_text bitter">
            <p>
                <!--<span>X Game Update!</span>-->
            </p>
            <p>
                <!--<span>Lorem Ipsum is simply</span><br/><span>dummy text!</span>-->
            </p>
            <!--<a href="#" class="cta_btn luck">Try the Demo! <br/>-->
            <!--<span class="osans">for Windows</span></a>-->
        </div>
    </div>
    <div class="slide slide-3">
        <img src="../app/css/images/placeholders/slider_3.jpg" alt=""/>
        <div class="cta_text bitter">
            <p>
                <!--<span>New Game on The Way!</span>-->
            </p>
            <p>
                <!--<span>Lorem Ipsum is simply dummy</span><br/><span>text of the printing industry!</span>-->
            </p>
        </div>
    </div>
</div>